target/
build/ # Se você também usa Gradle ou tem alguma build paralela

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

.git/
.gitignore

.idea/ # Diretório de configuração do IntelliJ
*.iml # Arquivos de módulo do IntelliJ
*.ipr # Arquivos de projeto do IntelliJ
*.iws # Arquivos de workspace do IntelliJ
.vscode/ # Para usuários de VS Code
.settings/ # Para usuários de Eclipse
.classpath # Para usuários de Eclipse
.project # Para usuários de Eclipse

*.log
logs/
tmp/
temp/
*.tmp

.env
.env.*

.DS_Store

*.jar # Ignora qualquer JAR na raiz ou em subdiretórios, exceto se você explicitamente adicionar um COPY para 'target/*.jar' no Dockerfile.
